
:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --menu-text-color: #FF0070;
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec,
.theme-dark .header__rec-dot {
  display: block;
}

.theme-dark .header__theme-menu-button {
  color: var(--menu-text-color);
  letter-spacing: -0.2px;
}

.theme-dark .header__theme-menu-button:hover {
  border-color: var(--menu-text-color);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--menu-text-color);
}