:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --accent-border: #353430;
  --accent-text: #353430;
  --accent-bg: #FF8DCB;
  --menu-text-color: #353430;
  --accent-footer: #FF0070;
  --text-frame: #000028;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --accent-border: #353430;
    --accent-text: #353430;
    --accent-bg: #FF8DCB;
    --menu-text-color: #353430;
    --accent-footer: #FF0070;
    --text-frame: #000028;
  }

  .header__rec,
  .header__rec-dot {
    display: none;
  }
}

.theme-light .page,
:root:not(.theme-dark):not(.theme-auto) .page {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec,
.theme-light .header__rec-dot,
:root:not(.theme-dark):not(.theme-auto) .header__rec,
:root:not(.theme-dark):not(.theme-auto) .header__rec-dot {
  display: none;
}