/* Принудительная светлая тема */
:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --menu-text-color: #353430;
}

/* Системная светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --menu-text-color: #353430;
  }
}

.theme-light .page,
:root:not(.theme-dark):not(.theme-auto) .page {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec,
.theme-light .header__rec-dot,
:root:not(.theme-dark):not(.theme-auto) .header__rec,
:root:not(.theme-dark):not(.theme-auto) .header__rec-dot {
  display: none;
}