:root {
  --bg-color: ;
  --text-color: ;
  --accent-color: ;
  --title-color: ;
  --accent-border: ;
  --accent-text: ;
  --accent-bg: ;
  --menu-text-color: ;
  --font-family: 'IBM Plex mono', monospace;
  --accent-footer: ;
  --text-frame: ;
}

.page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}