:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-border: #FF0070;
  --accent-text: #FF0070;
  --accent-bg: #FF0070;
  --menu-text-color: #FF0070;
  --font-family: 'IBM Plex mono', monospace;
  --text-frame: #000028;
}

.page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}