:root {
  /* Только объявляем переменные БЕЗ значений */
  --bg-color: ;
  --text-color: ;
  --accent-color: ;
  --title-color: ;
  --menu-text-color: ;
  --font-family: 'IBM Plex mono', monospace;
}

.page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}